<article class="post">
  <header class="post-header home">
    <div class="post-title">게시글</div>
  </header>

  <div class="post-content">
      {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-list-item">
        <!-- {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%} -->
        {%- assign date_format = "%Y/%m/%d" -%}
        <span class="post-date">{{ post.date | date: date_format }}</span>
      	<a class="post-link" href="{{ post.url | relative_url }}">
    	    {{ post.title | escape }}
		</a>
        {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>
</article>


<!doctype html>
  <html lang="ko">
    <head>
    <meta charset="utf-8">
      <style>
        body { font-family: Consolas, sans-serif; }
        h1 { margin: 30px 0px; text-align: center; }
        img { max-width: 100%; display: block; margin: 0px 0px 500px 0px; }
      </style>
    </head>
    <body>
  
      <div>
        <img src="/pic/1.jpg"/>
        <img src="/pic/2.jpg"/>
        <img src="/pic/3.jpg"/>
        <img src="/pic/4.jpg"/>
        <img src="/pic/5.jpg"/>
        <img src="/pic/6.jpg"/>
      </div>
    </body>
  </html>