<article class="post">
  <header class="post-header home">
    <div class="post-title">게시글</div>
  </header>

<!doctype html>
  <html lang="ko">
    <head>
    <meta charset="utf-8">
      <style>
        body { font-family: Consolas, sans-serif; }
        img { max-width: 100%; display: block; margin: 0px 0px 0px 0px; }
      </style>
    </head>
    <body>
  
      <div>
        <img src="/pic/1.jpg"/>
        <img src="/pic/2.jpg"/>
        <img src="/pic/3.jpg"/>
        <img src="/pic/4.jpg"/>
        <img src="/pic/5.jpg"/>
        <img src="/pic/6.jpg"/>
      </div>
    </body>
  </html>

  
 </article>
